* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
html,
body {
  height: 100%;
}
html {
  overflow-y: scroll;
}
body {
  font-family: "Arial", Gadget, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
}
#admin-window {
  min-width: 960px;
  background: url('../images/bg_white_hatch.jpg');
}
#body-wrapper {
  clear: both;
  color: #000000;
  padding: 0 20px;
  margin: 0 auto -90px;
  min-height: 100%;
  height: 100%;
  max-width: 1850px;
  min-width: 940px;
  float: none;
}
#body-wrapper p {
  color: #000000;
}
#wrap,
.container-full {
  max-width: 1850px;
  min-width: 940px;
  margin: 0 auto;
  float: none;
}
#wrap {
  float: left;
  width: 100%;
  padding-top: 40px;
  position: relative;
}
#wrap p {
  color: black;
}
#wrap h1.title {
  margin-bottom: 20px;
}
table.manage_content td:last-child {
  width: 150px;
  text-align: right;
}
.page-details {
  display: block;
  padding-top: 0px;
  padding-bottom: 10px;
  height: 30px;
  clear: both;
  float: none;
  width: 100%;
}
#wrap .filter-links {
  padding-top: 10px;
  float: left;
  display: block;
  position: relative;
}
#wrap .filter-links a:link,
#wrap .filter-links a:visited {
  font-size: 14px;
  color: #9E9E9E;
  text-decoration: none;
}
.title-search {
  float: right;
  width: 300px;
}
.search-text,
.search-button {
  float: left;
}
.search-text {
  width: 190px;
}
.search-button {
  width: 110px;
}
.title-search input {
  float: right;
  margin: 5px 0 0;
}
.title-search input[type="button"] {
  margin: 0;
}
/*
* Editor
* ------------------------------------------------------------------------------------------- */
.tinymce {
  width: 98%;
}
.wysiwyg {
  margin-top: 15px;
}
.CodeMirror-scroll {
  height: auto;
  min-height: 450px;
  max-height: 900px;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
}
.CodeMirror {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.activeline {
  background: #f0fcff !important;
}
.cm-tab:after {
  content: "\21e5";
  display: -moz-inline-block;
  display: -webkit-inline-block;
  display: inline-block;
  width: 0px;
  position: relative;
  overflow: visible;
  left: -1.4em;
  color: #aaa;
}
/*
* Tabs 
* ------------------------------------------------------------------------------------------- */
.tabs:before,
.tabs:after {
  display: table;
  content: "";
}
.tabs:after {
  clear: both;
}
#wrap ul.nav-tabs {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  zoom: 1;
  border: 0;
}
#wrap ul.nav-tabs li {
  display: inline;
  margin-bottom: 0px;
  float: left;
}
#wrap ul.nav-tabs li a {
  background-color: #CCCCCC;
  border-radius: 7px 7px 0 0;
  color: #000000;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  display: block;
}
#wrap ul.nav-tabs li a.active,
#wrap ul.nav-tabs li a:hover {
  background-color: #333;
  color: #fff;
}
#wrap ul.nav-tabs li a:focus {
  outline: 0;
}
.tab-body {
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 0px 7px 0 0;
  border: 1px solid #CCCCCC;
}
/*
Topbar
* ------------------------------------------------------------------------------------------- */
.navbar {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
}
.navbar p {
  padding-top: 10px;
  margin: 0;
}
/*
Admin Sidebar
* ------------------------------------------------------------------------------------------- */
.has-right-sidebar .has-tabs {
  padding-top: 70px;
}
.has-right-sidebar .contet-sidebar {
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  clear: right;
  float: right;
  position: relative;
  width: 281px;
}
.has-right-sidebar .contet-sidebar .table {
  margin-bottom: 20px;
}
.has-right-sidebar #post-body {
  clear: left;
  float: left;
  margin-right: -340px;
  width: 100%;
}
.has-right-sidebar #post-body-content {
  margin-right: 310px;
}
.full-content #post-body {
  clear: left;
  float: left;
  width: 100%;
}
.full-content #post-body-content {
  padding-left: 20px;
}
.title h1 {
  margin-bottom: 20px;
  text-shadow: 0 1px 0 #FFFFFF;
}
.title .button {
  margin-bottom: 0px;
  top: 15px;
  margin-left: 10px;
}
.title a.button {
  line-height: 55px;
}
.title .title-search {
  padding-top: 15px;
  width: 300px;
  margin-top: 10px;
}
/* 
Table
* ------------------------------------------------------------------------------------------- */
.table {
  padding-top: 10px;
  margin-right: 30px;
}
.table a:link {
  text-decoration: none;
}
.table fieldset {
  padding: 0 0 20px 0;
}
.table .table-content fieldset dt {
  margin-bottom: 0px;
}
.table .table-content select {
  width: 100%;
}
#post-body-content .table .table-content {
  margin-bottom: 1.5em;
}
#wrap .pagination {
  margin: 0;
  padding: 0;
}
#wrap .pagination ul {
  border: 0;
}
#wrap .pagination a:link,
#wrap .pagination a:visited {
  line-height: 20px;
  padding: 3px 6px;
  background-color: white;
  border: 1px solid #CCCCCC;
  margin-left: 5px;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#wrap .pagination a:hover {
  background: none repeat scroll 0 0 #0069D6;
  color: #fff;
}
#wrap .pagination em {
  line-height: 30px;
  margin-left: 10px;
}
#body-wrapper table * {
  vertical-align: middle !important;
}
table {
  margin-top: 20px;
}
table.nostyle {
  border: none;
  background: none;
  margin: 0;
}
table.nostyle tbody tr.even td,
table.nostyle tbody tr td {
  background: none;
}
table.nostyle td {
  padding: 0px;
}
.table-heading,
thead {
  height: 45px;
  border: 1px solid #CCCCCC;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background: #EEEEEE;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #d8d8d8));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #d8d8d8 100%);
  background: -moz-linear-gradient(top, #eeeeee 0%, #d8d8d8 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #d8d8d8 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #d8d8d8 100%);
  background: linear-gradient(top, #eeeeee 0%, #d8d8d8 100%);
  text-shadow: 0 1px 0 #FFFFFF;
}
.table-heading h3 {
  padding: 10px 0 10px 10px;
  margin: 0;
  color: #000000;
  float: left;
  font-size: 1.55em;
}
.table-heading h3 + input.btn {
  margin: 8px 10px 0 0;
}
.table-content {
  padding: 9px;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}
.table-content > .form-actions {
  margin-bottom: 0;
}
.table-content fieldset {
  padding: 0 15px 0 0;
}
.error {
  color: red;
}
input[type="text"].error,
input[type="text"].error:focus {
  border: 1px solid red;
}
/*
Category List
* ------------------------------------------------------------------------------------------- */
.category-list {
  padding: 5px;
  background: #f8f8f8;
  overflow: auto;
  height: 150px;
}
.category-list ul {
  margin: 0;
}
.category-list li {
  list-style: none;
}
/* 
Notifications 
* ------------------------------------------------------------------------------------------- */
.notice-wrap {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 300px;
  z-index: 9999;
}
.notice-wrap .notice {
  background: #222;
  background-color: #222222;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.notice-wrap .success {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.notice-wrap .error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
* html .notice-wrap {
  position: absolute;
}
.notice-item {
  background: #333;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #eee;
  padding: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  display: block;
  position: relative;
  margin: 0 0 12px 0;
}
.notice-item-close {
  position: absolute;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  right: 6px;
  top: 6px;
  cursor: pointer;
}
/* Tool Tips 
* ------------------------------------------------------------------------------------------- */
.tooltip {
  position: absolute;
  width: 250px;
  background-image: url('http://papermashup.com/demos/tooltip/tip-bg.png');
  background-position: left center;
  color: #FFF;
  padding: 5px 5px 5px 18px;
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif;
}
.tooltip-image {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 3px;
}
.tooltip span {
  font-weight: 700;
  color: #ffea00;
}
/* 
Tags
* ------------------------------------------------------------------------------------------- */
div.tagsinput {
  border: 1px solid #CCC;
  background: #FFF;
  padding: 3px;
  width: 300px;
  height: 100px;
  overflow-y: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
div.tagsinput span.tag {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: block;
  float: left;
  padding: 5px;
  text-decoration: none;
  background: #3879d9;
  color: #fff;
  margin-right: 3px;
  margin-bottom: 3px;
  font-family: Helvetica;
  font-size: 12px;
}
div.tagsinput span.tag a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-size: 11px;
}
div.tagsinput input {
  width: 80px;
  margin: 0px;
  font-family: helvetica;
  font-size: 11px;
  border: 0px solid transparent;
  padding: 5px;
  background: transparent;
  color: #000;
  outline: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
}
div.tagsinput input,
div.tagsinput textarea {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: inset none;
}
div.tagsinput div {
  display: block;
  float: left;
}
.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}
/* 
Username Lookup
* ------------------------------------------------------------------------------------------- */
#tick {
  display: none;
}
#cross {
  display: none;
}
/* 
Media Insert
* ------------------------------------------------------------------------------------------- */
.accordion {
  margin-bottom: 18px;
}
.accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.accordion-heading {
  border-bottom: 0;
}
.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}
.accordion-toggle {
  cursor: pointer;
}
.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -ms-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.collapse.in {
  height: auto;
}
/* 
Temp 
* ------------------------------------------------------------------------------------------- */
.space-width {
  background: #000;
}
.markItUp {
  width: 99%;
}
.markItUpEditor {
  font-family: "Arial", Gadget, sans-serif;
}
.show-grid .column,
.show-grid .columns {
  background-color: #EEEEEE;
  border-radius: 3px 3px 3px 3px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
/*
* Percentile Scaffolding
* ------------------------------------------------------------------------------------------- */
/* @todo: Add last child to remove any margin */
/*
Webtreats 

.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:67.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; clear:right; }
.clearboth {clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}
*/
.one-full {
  width: 100%;
  float: none;
  clear: both;
  display: block;
}
.one-half {
  width: 50%;
  float: left;
}
.one-half:last-child {
  float: right;
  width: 47%;
}
.one-half > table {
  margin-top: 0;
}
/* @todo :last-child for padding */
.one-third {
  width: 33.333%;
  float: left;
}
.two-third {
  width: 66.666%;
  float: left;
}
.one-quarter {
  width: 25%;
  float: left;
}
.three-quarter {
  width: 75%;
  float: left;
}
/*
* Input Overrides
* ------------------------------------------------------------------------------------------- */
.input-xlarge,
input.xlarge,
textarea.xlarge,
select.xlarge {
  width: 98%;
}
.input-small,
input.small,
textarea.small,
select.small {
  width: auto;
}
.input-medium,
input.medium,
textarea.medium,
select.medium,
.input-large,
input.large,
textarea.large,
select.large {
  width: auto;
}
/*
* Misc
* ------------------------------------------------------------------------------------------- */
.form-stacked {
  padding-left: 0;
}
.form-stacked .contet-sidebar .actions {
  margin: 0px -9px -10px -9px;
  padding-top: 0px;
  position: relative;
  display: block;
  background: none;
  border-top: 0 none;
}
.popover h3 {
  margin: 0;
}
/*
* Alert
* ------------------------------------------------------------------------------------------- */
#wrap .alert-message.error p,
#wrap .alert-message.success p,
#wrap .alert-message.info p {
  color: white;
}
#wrap .block-message.error p,
#wrap .block-message.success p,
#wrap .block-message.info p {
  color: black;
}
/*
* Flash
* ------------------------------------------------------------------------------------------- */
.flash .close {
  color: #990000;
  font-size: 9px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.flash.error,
.flash.alert,
.flash.notice,
.flash.success,
.flash.info,
.flash.todo {
  letter-spacing: normal;
  word-spacing: normal;
  margin-top: 10px;
  padding: 0.83em 0.83em 0.83em 45px;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  position: relative;
}
.flash.todo {
  background: #e6efc2 url(../images/icons/32_check.png) no-repeat 3px 3px;
  color: #264409;
  border-color: #68b500;
}
.flash.error,
.flash.alert {
  color: #8a1f11;
  border-color: #fbc2c4;
}
.flash.error {
  background: #fbe3e4 url(../images/icons/32_stop.png) no-repeat 3px 3px;
}
.flash.alert {
  background: #fbe3e4 url(../images/icons/32_warning.png) no-repeat 3px 3px;
}
.flash.notice {
  background: #fff6bf url(../images/icons/32_help.png) no-repeat 3px 3px;
  color: #514721;
  border-color: #ffd324;
}
.flash.success {
  background: #e6efc2 url(../images/icons/32_check.png) no-repeat 3px 3px;
  color: #264409;
  border-color: #c6d880;
}
.flash.info {
  background: #d5edf8 url(../images/icons/32_info.png) no-repeat 3px 3px;
  color: #205791;
  border-color: #92cae4;
}
.flash.error a,
.flash .alert a {
  color: #8a1f11;
}
.flash .notice a {
  color: #514721;
}
.flash .success a {
  color: #264409;
}
.flash .info a {
  color: #205791;
}
/*
* Settings - Appearance
* ------------------------------------------------------------------------------------------- */
.theme-grid {
  margin-left: -20px;
  margin-bottom: 0;
  zoom: 1;
}
.theme-grid:before,
.theme-grid:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.theme-grid:after {
  clear: both;
}
.theme-grid li {
  float: left;
  width: 220px;
  list-style: none;
  margin: 0 0 20px 30px;
}
.theme-grid li strong {
  line-height: 25px;
  font-size: 18px;
}
.theme-grid li p {
  width: 210px;
}
.theme-grid li a img {
  margin-bottom: 10px;
  float: left;
  padding: 4px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
}
.theme-grid li a:hover img {
  border-color: #0069d6;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.theme-grid li span.notice {
  margin-left: 5px;
}
.theme-grid li .well {
  text-align: right;
  padding: 5px;
  margin: 10px 0;
}
.theme-grid li span.label {
  padding: 4px 3px;
}
/* 
Debug CSS
* ------------------------------------------------------------------------------------------- */
