p.button_align {
  margin: 0;
  display: block; }

p.button_align a:link {
  top: 10px; }

.button_large, .button_small, .button {
  background: #fafafa url(../images/button-vertical-sprite.png) repeat-x;
  border: 1px solid #bbb;
  color: #444;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  padding: 3px 12px;
  text-decoration: none;
  -moz-border-radius: 16px;
  -o-border-radius: 16px;
  -webkit-border-radius: 16px;
  -khtml-border-radius: 16px;
  border-radius: 16px;
  -moz-text-shadow: 0 1px 0 #fff;
  -o-text-shadow: 0 1px 0 #fff;
  -webkit-text-shadow: 0 1px 0 #fff;
  -khtml-text-shadow: 0 1px 0 #fff;
  text-shadow: 0 1px 0 #fff; }

.alignright .button {
  margin: 0 0 0 10px; }

.actions .cancel {
  padding-left: 15px; }

.actions .button {
  top: 0; }

.utility a:link.button_small, .utility a:link.button,
.utility a:visited.button_small, .utility a:visited.button,
#wrap a:link.button_small, #wrap a:link.button,
#wrap a:visited.button_small, #wrap a:visited.button {
  padding: 4px 13px;
  color: #444; }

.utility a:link.button_large,
.utility a:visited.button_large,
#wrap a:link.button_large,
#wrap a:visited.button_large {
  padding: 11px 14px 9px; }

.button_large:hover, .button_small:hover, .button:hover,
.button_large:focus, .button_small:focus, .button:focus {
  background-position: 0 -50px;
  background-color: #eee;
  border-color: #666;
  color: #000; }

.button_large:active, .button_small:active, .button:active {
  background-position: 0 -114px;
  background-color: #eee; }

/* Small version */
.button_small {
  font-size: 11px;
  padding: 2px 8px;
  -moz-border-radius: 11px;
  -o-border-radius: 11px;
  -webkit-border-radius: 11px;
  -khtml-border-radius: 11px;
  border-radius: 11px; }

/* Large version */
.button_large {
  font-size: 18px;
  padding: 6px 16px;
  -moz-border-radius: 19px;
  -o-border-radius: 19px;
  -webkit-border-radius: 19px;
  -khtml-border-radius: 19px;
  border-radius: 19px; }

.button span {
  margin-left: -4px;
  padding-left: 23px;
  padding-bottom: 2px; }

.button.personal span {
  background: url(../images/icons/16-person.png) no-repeat 0px 0px; }

.button.organization span {
  background: url(../images/icons/16-houses.png) no-repeat 0px 0px; }

.button.add {
  background: #e6efc2; }

.button.add:hover {
  background: #e0efa3; }

.button.add span {
  background: url(../images/icons/16-add.png) no-repeat 0px 0px; }

.button.remove {
  background: #fbe3e4; }

.button.remove:hover {
  background: #fbd3d4; }

.button.remove span {
  background: url(../images/icons/16-delete.png) no-repeat 0px 0px; }

/* ----------------------------------------------------
    Icons for Navigation
---------------------------------------------------- */
.settings span {
  background: url(../images/icons/16-gears.png) no-repeat 0px 0px; }

.manage span {
  background: url(../images/icons/16-case.png) no-repeat 0px 0px; }

.contacts span {
  background: url(../images/icons/16-people-copy.png) no-repeat 0px 0px; }

.contracts span {
  background: url(../images/icons/16-paper-pen.png) no-repeat 0px 0px; }

.dashboard span {
  background: url(../images/icons/16-compass.png) no-repeat 0px 0px; }

.login span {
  background: url(../images/icons/16-power.png) no-repeat 0px 0px; }

.signup span {
  background: url(../images/icons/16-paper-pen.png) no-repeat 0px 0px; }

.share span {
  background: url(../images/icons/16-people-add.png) no-repeat 0px 0px; }

.folder-open span {
  background: url(../images/icons/16-folder-open.png) no-repeat 0px 0px; }

.delete span {
  background: url(../images/icons/16-delete.png) no-repeat 0px 0px; }

.archive span {
  background: url(../images/icons/16-broom.png) no-repeat 0px 0px; }
