/*
* Login Styles
* ------------------------------------------------------------------------------------------- */
#login-header {
  background: #000000;
  color: #9E9E9E;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  padding: 5px 0;
}
#login-header a:link {
  color: #9E9E9E;
  text-decoration: none;
  padding: 0 10px;
}
.login {
  background: url('../images/bg_concrete_wall.png');
  height: 100%;
}
.login a:link,
.login a:visited {
  color: white;
}
.login #login-logo {
  text-align: center;
  padding-top: 25px;
}
.login label {
  color: white;
  line-height: 22px;
}
.login #login-content {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  height: 320px;
  width: 330px;
  border-radius: 24px;
  background-color: #DDDDDD;
  border: 1px solid #141414;
  -webkit-box-shadow: 0px 10px 40px 15px #1E1E1E;
  -moz-box-shadow: 0px 10px 40px 15px #1E1E1E;
  box-shadow: 0px 10px 40px 15px #1E1E1E;
}
.login #login-content input[type="text"],
.login #login-content input[type="password"] {
  width: 98%;
  height: 35px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #C1C1C1;
}
.login #login-content dl {
  margin-left: 40px;
  padding: 0;
}
.login #login-content dt {
  width: 100px;
  float: left;
}
.login #login-content dd {
  width: 220px;
  float: left;
  padding: 0;
}
.login #login-content .login-row {
  clear: both;
  padding-left: 85px;
}
.login #login-content .actions {
  padding-top: 20px;
}
.login #login-content a.secondary {
  color: #999;
}
.login #login-content .forgot {
  padding-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
