/*	Default 8-column layout
 60 px columns, 24 px gutters, 60 px margins, 768 px total
 ---------------------------------------------------------
 1     2      3      4      5      6      7      8
 60px  144px  228px  312px  396px  480px  564px  648px	*/

	body {
		background: rgb(232,232,232);
		padding: 84px 60px 0;
		width: 648px;
		-webkit-tap-highlight-color: rgb(255,255,0);
	}
	
	::selection {
		background: rgb(255,255,0);
	}
	
	::-moz-selection {
		background: rgb(255,255,0);
	}
	
	img::selection {
		background: transparent;
	}
	
	img::-moz-selection {
		background: transparent;
	}
	
	#example {
		height: 600px;
		background: rgb(60,97,158);
	}

/*	13-column layout
 60 px columns, 24 px gutters, 72 px margins, 1212 px total (extra space for
 * scrollbars)
 ---------------------------------------------------------------------------------------
 1     2      3      4      5      6      7      8      9      10     11     12
 * 13
 60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px
 * 984px  1068px	*/

@media only screen and (min-width: 1212px) {

	body {
		padding: 96px 72px 0;
		width: 1068px;
	}

}

/*	5-column layout
 60 px columns, 24 px gutters, 42 px margins, 480 px total
 ---------------------------------------------------------
 1     2      3      4      5
 60px  144px  228px  312px  396px	*/

@media only screen and (max-width: 767px) and (min-width: 480px) {

	body {
		padding: 60px 42px 0;
		width: 396px;
		/* Prevents Mobile Safari from bumping up font sizes in landscape */
		-webkit-text-size-adjust: 100%;
	}

}

/*	3-column layout
 60 px columns, 24 px gutters, 46 px margins, 320 px total
 ---------------------------------------------------------
 1     2      3
 60px  144px  228px	*/

@media only screen and (max-width: 479px) {

	body {
		padding: 48px 46px 0;
		width: 228px;
		/* Prevents Mobile Safari from bumping up font sizes in landscape */
		-webkit-text-size-adjust: 100%;
	}

}

/*	Overrides for iPhone 4
 and other high device-pixel-ratio devices
 -----------------------------------------	*/

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

#example {
	background: rgb(255,158,97);
}

}