[subplugin "plugins/ipsum"]
	path = plugins/ipsum
	url = git@github.com:adampatterson/tentacle-ipsum.git
[subplugin "plugins/ndoc"]
	path = plugins/ndoc
	url = git@github.com:adampatterson/tentacle-ndoc.git
[subplugin "themes/immersion"]
	path = themes/immersion
	url = git@github.com:adampatterson/tentacle-immersion.git
[subplugin "themes/organic_structure"]
	path = themes/organic_structure
	url = git@github.com:adampatterson/tentacle-organic-structure.git
[subplugin "themes/tentacle"]
	path = themes/tentacle
	url = git@github.com:adampatterson/tentacle-default.git
[submodule "extensions/tentacle-ndoc"]
	path = extensions/tentacle-ndoc
	url = https://adampatterson@github.com/adampatterson/tentacle-ndoc.git
