# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
*.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
.settings
codekit-config.json


# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.gz
*.vi
*~


# Development resources
/application/config/development
tentacle/themes/default/template-rfp.php
log.txt


# grunt-html-validation
validation-status.json
validation-report.json


# Folders to ignore
node_modules
bower_components


# Domain crap for tentacle
/*.pdf
/*.html
/*.xml


# Generated Config & Log files
application/config/deployment/db.php
application/config/setup/db.php
application/logs/*.php


storage/images/*
storage/temp/*
storage/upgrade/*

/get.sh
/themes/*
!/themes/tentacle/

/plugins/*
!/plugins/social-share/
!/plugins/source/
!/plugins/core/
!/plugins/disqus/
!/plugins/bones/


config.codekit
tentacle/vendor
