/_reference
/application/config/development
/log.txt
/.project
/tentacle/admin/.sass-cache/
/application/config/deployment/db.php
Tentacle Resource
_Tentacle Resource
.idea/
.settings/
tentacle/admin/css/bootstrap-2/
application/config/setup/db.php