ErrorDocument 401 default
ErrorDocument 403 default
ErrorDocument 404 default
ErrorDocument 500 default

RewriteEngine on

RewriteCond $1 !^(index\.php|tentacle|favicon\.ico|storage|themes|googlec09c5f65801ea65d\.html)
RewriteRule ^(.*)$ index.php?__dingo_page=$1 [L]