// Grays
$white:             #fff;
$grayLighter:       #ccc;
$grayLight:         #777;
$gray:              #555;
$grayDark:          #333;
$black:             #000;

// Accent Colors
$blue:              #08b5fb;
$green:             #46a546;
$red:               #9d261d;
$yellow:            #ffc40d;
$orange:            #f89406;
$pink:              #c3325f;
$purple:            #7a43b6;