@mixin rounded ($radius: .2em) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin rounded-double ($radius: .2em, $color: #525252) {
	-webkit-border-radius: $radius $color;
	-moz-border-radius: $radius $color;
	border-radius: $radius $color;
}

@mixin round ($side, $radius: .2em) {
	border-#{$side}-radius: $radius;
	-moz-border-radius-#{$side}: $radius;
	-webkit-border-#{$side}-radius: $radius;
}

@mixin border ($side, $color, $thickness: 1px) {
	border-#{$side}: $thickness $color;
}
