html {
	overflow-y:scroll;
}

body {
	font-family: "Arial", Gadget, sans-serif;
	color: #000;
}

#admin-window {
	min-width: 960px;
}

#body-wrapper {
	clear: both;
	color: #000000;
	
	p {
		color: #000000;
	}
}

#wrap, .container-full  {
	
}

footer {
	color: #9E9E9E;

	a:link {
		color: #9E9E9E;
	}
	span {
		color: #1E1E1E;
	}
}


/*
* Login Styles
* ------------------------------------------------------------------------------------------- */
#login-header {
	background: #000000;
	color: #9E9E9E;
	font-family: Arial, Helvetica, sans-serif;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;

	a:link {
		color: #9E9E9E;
		text-decoration: none;
	}
}

.login {
	background: url('../images/bg_black_denim.png'); 
	
	a:link, a:visited {
		color: white;
	}
	
	#login-logo {
		text-align: center;
	}

	label {
		color: white;
	}

	h2 {
		color: white;
	}

	#login-content-message {
		p {
			color: white;
		}

		 h3 {
			color: white;
		}
		
		a.secondary {
			color: black;
		}
	}
}

#wrap {
	float: left;
	width: 100%;
	padding-top: 40px;
	position: relative;

	p {
		color: black;
	}
	
	h1.title { margin-bottom: 20px; }

	a {
		&:link, 
		&:visited,
		&:visited.btn {
			color: black;
		}
		&.btn {
			color: #333;
		}
		&.btn.primary, &.btn.info, &.btn.success, &.btn.danger {
			color: #fff;
		}
	}
}

#wrap .filter-links {
	padding-top: 10px;
	float: left;
	display: block;
	position: relative;

	a {
		&:link, 
		&:visited {
			color: #9E9E9E;
			text-decoration: none;
		}
	}
}


/*
* Tabs 
* ------------------------------------------------------------------------------------------- */
#wrap {
	ul.tabs {
		list-style: none;
		zoom: 1;
		border: 0;

		li a {
			background-color: #CCCCCC;
		    color: #000000;
		    text-decoration: none;
		}

		li a.active,
		li a:hover {
			background-color: #333;
			color: #fff;
			border: 0;
		}

		li a:focus {
			outline: 0;
		}
	}
}
.tab-body {
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

/*
Topbar
* ------------------------------------------------------------------------------------------- */
.topbar{ 
	ul li a, ul li li a {
	  color: #bfbfbf;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
	
  	.fill {
		background: #222;
		background-color: #222222;
		background-repeat: repeat-x;
		background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
		background-image: -moz-linear-gradient(top, #333333, #222222);
		background-image: -ms-linear-gradient(top, #333333, #222222);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
		background-image: -webkit-linear-gradient(top, #333333, #222222);
		background-image: -o-linear-gradient(top, #333333, #222222);
		background-image: linear-gradient(top, #333333, #222222);
		/*background: url('../images/bg_black_denim.png');*/
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1); 
	}
}

/*
Admin Sidebar
* ------------------------------------------------------------------------------------------- */
.title {
	h1 {
		text-shadow: 0 1px 0 #FFFFFF;
	}
}

/* 
Table
* ------------------------------------------------------------------------------------------- */


#wrap .pagination {
	a:link,
	a:visited {
		background-color: white;
		border: 1px solid #CCCCCC;
	}
	a:hover {
		background:	none repeat scroll 0 0 #0069D6;
		color: #fff;
	}
}

table {
	&.nostyle {
		border: none;
		background: none;	
	}
	
	&.nostyle tbody tr.even td,
	&.nostyle tbody tr td {
		background: none;	
	}
}

.table-heading, thead {
	border: 1px solid #CCCCCC;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background: #EEEEEE;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEEEEE), color-stop(100%, #D8D8D8));
	background: -webkit-linear-gradient(top, #EEEEEE 0%, #D8D8D8 100%);
	background: -moz-linear-gradient(top, #EEEEEE 0%, #D8D8D8 100%);
	background: -o-linear-gradient(top, #EEEEEE 0%, #D8D8D8 100%);
	background: -ms-linear-gradient(top, #EEEEEE 0%, #D8D8D8 100%);
	background: linear-gradient(top, #EEEEEE 0%, #D8D8D8 100%);

	text-shadow: 0 1px 0 #FFFFFF;
}

.table-heading {
	h3 {
		color: #000000;
	}
}

.table-content {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.error {
	color: red;
}

input[type="text"].error, 
input[type="text"].error:focus {
	border: 1px solid red;
}


/*
Category List
* ------------------------------------------------------------------------------------------- */
.category-list {
	background: #f8f8f8;
	
	li {
		list-style: none;
	}
}

/* 
Notifications 
* ------------------------------------------------------------------------------------------- */
.notice-wrap {
	.notice {
		background: #222;
		background-color: #222222;
		background-repeat: repeat-x;
		background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));

		background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#222222));
		background-image: -webkit-linear-gradient(top, #333333, #222222);
		background-image: -moz-linear-gradient(top, #333333, #222222);
		background-image: -o-linear-gradient(top, #333333, #222222);
		background-image: -ms-linear-gradient(top, #333333, #222222);
		background-image: linear-gradient(top, #333333, #222222);

		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	}

	.success {
		background-color: #57a957;
		background-repeat: repeat-x;
		background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));

		background-image: -webkit-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
		background-image: -webkit-linear-gradient(top, #62c462, #57a957);
		background-image: -moz-linear-gradient(top, #62c462, #57a957);
		background-image: -o-linear-gradient(top, #62c462, #57a957);
		background-image: -ms-linear-gradient(top, #62c462, #57a957);
		background-image: linear-gradient(top, #62c462, #57a957);

		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		border-color: #57a957 #57a957 #3d773d;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}

	.error {
		background-color: #c43c35;
		background-repeat: repeat-x;
		background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));

		background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
		background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
		background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
		background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
		background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
		background-image: linear-gradient(top, #ee5f5b, #c43c35);

		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		border-color: #c43c35 #c43c35 #882a25;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}
}

.notice-item {
	background: #333;
	color: #eee;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	position: relative;
}

.notice-item-close {
	font-family: Arial;
	font-weight: bold;
	cursor: pointer;
}

/* Tool Tips 
* ------------------------------------------------------------------------------------------- */
.tooltip {
	background-image: url('http://papermashup.com/demos/tooltip/tip-bg.png');
	background-position: left center;
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
}
	
.tooltip span {
	font-weight: 700;
	color: #ffea00;
}

/* 
Tags
* ------------------------------------------------------------------------------------------- */
div.tagsinput {
	border:1px solid #CCC;
	background: #FFF;

	span {
		&.tag {
			text-decoration:none;
			background: #3879d9;
			color: #fff;
			font-family: Helvetica;
		}

		&.tag a {
			font-weight: bold;
			color: #fff;
			text-decoration:none;
		}
	}

	input {
		font-family: helvetica;
		font-size: 11px;
		border:1px solid transparent;
		background: transparent;
		color: #000;
		outline:0px;
	}

}

/* 
Username Lookup
* ------------------------------------------------------------------------------------------- */
// See layout.scss/css


/* 
Temp 
* ------------------------------------------------------------------------------------------- */
.space-width {
	background: #000;
}


.show-grid .column, .show-grid .columns {
    background-color: #EEEEEE;
    text-align: center;
}

/*
* Percentile Scaffolding
* ------------------------------------------------------------------------------------------- */
// See layout.scss/css


/*
* Input Overrides
* ------------------------------------------------------------------------------------------- */
// See layout.scss/css


/*
* Misc
* ------------------------------------------------------------------------------------------- */
.form-stacked {
	 .contet-sidebar .actions {
		background: none;
		border-top: 0 none;
	}
}

/*
* Alert
* ------------------------------------------------------------------------------------------- */
#wrap .alert-message {
	&.error, &.success, &.info {
		p {
			color: white;
		}
	}
}
#wrap .block-message {
	&.error, &.success, &.info {
		p {
			color: black;
		}
	}	
}

/*
* Flash
* ------------------------------------------------------------------------------------------- */
.flash {
    .close {
        color: #990000;
    }
 
    &.error, &.alert, &.notice, &.success, &.info, &.todo {
        border:2px solid #ddd;
    }
 
    &.todo {
        background:#e6efc2 url(../images/icons/32_check.png) no-repeat 3px 3px;
        color:#264409;
        border-color:#68b500
    }
 
    &.error, &.alert {
        color:#8a1f11;
        border-color:#fbc2c4;
    }
 
    &.error {
        background:#fbe3e4 url(../images/icons/32_stop.png) no-repeat 3px 3px;
    }
 
    &.alert {
        background:#fbe3e4 url(../images/icons/32_warning.png) no-repeat 3px 3px;
    }
 
    &.notice {
        background:#fff6bf url(../images/icons/32_help.png) no-repeat 3px 3px;
        color:#514721;
        border-color:#ffd324;
    }
 
    &.success {
        background:#e6efc2 url(../images/icons/32_check.png) no-repeat 3px 3px;
        color:#264409;
        border-color:#c6d880;
    }
 
    &.info {
        background:#d5edf8 url(../images/icons/32_info.png) no-repeat 3px 3px;
        color:#205791;
        border-color:#92cae4;
    }
 
    &.error a, .alert a {
        color:#8a1f11;
    }
 
    .notice a {
        color:#514721;
    }
 
    .success a {
        color:#264409;
    }
 
    .info a {
        color:#205791;
    }
}

/*
* Settings - Appearance
* ------------------------------------------------------------------------------------------- */
.theme-grid {

	li {
		list-style: none;

		p { 
			width: 210px;
		}
		a img {
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
		}
		a:hover img {
			border-color: #0069d6;
			-webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
			-moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
			box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
		}
		
		.well {
			text-align: right;
		}
		
		span.label {
			padding: 4px 3px;
		}
		
	}
}