span.cm-keyword {color: #708;}
span.cm-atom {color: #219;}
span.cm-number {color: #164;}
span.cm-def {color: #00f;}
span.cm-variable {color: black;}
span.cm-variable-2 {color: #05a;}
span.cm-variable-3 {color: #085;}
span.cm-property {color: black;}
span.cm-operator {color: black;}
span.cm-comment {color: #a50;}
span.cm-string {color: #a11;}
span.cm-string-2 {color: #f50;}
span.cm-meta {color: #555;}
span.cm-error {color: #f00;}
span.cm-qualifier {color: #555;}
span.cm-builtin {color: #30a;}
span.cm-bracket {color: #cc7;}
span.cm-tag {color: #170;}
span.cm-attribute {color: #00c;}